# The following are only required in development, not production
nose
coverage
sphinx
pep8
autopep8
mock
pyinotify

# Required for optional extensions (only the ones supported on py3)
argcomplete
pystache
pyYaml
colorlog
configobj
tabulate
pylibmc
redis
jinja2
watchdog
pybars3