[Unit]
Description=Linux kernel tweaks

# append here other services you want netdata to wait for them to start
After=network.target

[Service]
Type=simple
User=root
ExecStart=/opt/kerneltweaks.sh

[Install]
WantedBy=multi-user.target
