# Common upstream settings
upstream php {
server 127.0.0.1:9072;
}
upstream debug {
# Debug Pool
server 127.0.0.1:9172;
}
{{#php7conf}}
upstream php7 {
server 127.0.0.1:9072;
}
upstream debug7 {
# Debug Pool
server 127.0.0.1:9172;
}
{{/php7conf}}

{{#hhvmconf}}
upstream hhvm {
# HHVM Pool
server 127.0.0.1:{{hhvm}};
server 127.0.0.1:{{php}} backup;
}
{{/hhvmconf}}
